doctype html
html(ng-app="ministrantenplaner" ng-controller="MainCtrl")
    head
        link(rel="stylesheet" href="../../frontend.css")
        link(rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.css")

        script(src="../../libs/angular.js")
        script(src="../../frontend.js")
        script(src="../../libs/bootstrap/js/bootstrap.js")
    body
        div(ng-view)